body{
  margin: 0;
  padding: 0;
  background: tomato;
  font-family: 'FFDINWeb', sans-serif;
}

a{
  text-decoration: none;
  color: peachpuff;
  transition: color 0.3s ease;
  text-transform: uppercase;
}

a:hover{
  text-decoration: line-through;
}

#menuToggle{
  display: inline-block;
  width: auto;
  position: fixed;
  top: 0px;
  padding-top: 1%;
  left: 50px;
  z-index: 1;
  -webkit-user-select: none;
  user-select: none;
}

@media all and (min-width: 1200px) {
  #menuToggle {
    display: none;
  }
}

#menuToggle input{
  display: block;
  width: 40px;
  height: 32px;
  position: absolute;
  top: -7px;
  left: -5px;
  cursor: pointer;
  opacity: 0;
  z-index: 2;
  -webkit-touch-callout: none;
}

#menuToggle span{
  display: block;
  width: 33px;
  height: 4px;
  margin-bottom: 5px;
  border: 0.5px solid tomato;
  position: relative;
  background: peachpuff;
  border-radius: 3px;
  z-index: 1;
  transform-origin: 4px 0px;
  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
  background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
  opacity 0.55s ease;
}

#menuToggle span:first-child{
  transform-origin: 0% 0%;
}

#menuToggle span:nth-last-child(2){
  transform-origin: 0% 100%;
}

#menuToggle input:checked ~ span{
  opacity: 1;
  transform: rotate(45deg) translate(-1.5px, -0.5px);
  background: peachpuff;
}

#menuToggle input:checked ~ span:nth-last-child(3){
  opacity: 0;
  transform: rotate(0deg) scale(0.2, 0.2);
}

#menuToggle input:checked ~ span:nth-last-child(2){
  transform: rotate(-45deg) translate(0, -1px);
}

#menu{
  position: absolute;
  width: 290px;
  margin: -100px 0 0 -50px;
  padding: 50px;
  padding-top: 125px;
  background: tomato;
  opacity: 0.8;
  list-style-type: none;
  -webkit-font-smoothing: antialiased;
  transform-origin: 0% 0%;
  transform: translate(-100%, 0);
  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
}


#menu li{
  padding: 10px 0;
  font-size: 22px;
}

#menuToggle input:checked ~ ul{
  transform: none;
}
/*BIG NAVIGATION*/
.gridMenu{
  display: grid;
  grid-template-columns: 60% auto auto auto auto;
  width: 100%;
  top: 0;
  position: fixed;
  overflow: hidden;
  padding: 1.5%;
  text-align: right;
  text-transform: uppercase;
  background-color: tomato;
  z-index: 1;
}
@media all and (max-width: 1200px) {
  .gridMenu {
    display: none;
  }
}

/*using more bigger padding number because of scroll line*/
.Scroll{
  padding-right: 35%;
}

.Left{
  text-align: left;
  text-transform: initial;
}

.menuItem{
  text-decoration: none;
  color: peachpuff;
}

.menuItem:hover{
  text-decoration: line-through;
}
/*hover of current page for Big Navigation*/
#Skills.hereSkills{
  text-decoration: line-through;
}
/*hover of current page for Hamburger*/
#SkillsM.hereSkillsM{
  text-decoration: line-through;
}

/*CONTAINER*/
#hello{
  display: grid;
  position: relative;
  margin-top: 60px;
  margin-left: auto;
  margin-right: auto;
  background-color: tomato;
  border: 5px solid peachpuff;
  cursor: pointer;
  width: 450px;
  height: 450px;
  transition: all 1s;
}
#hello.moving{
  width: 1200px;
  height: 550px;
}
@media all and (max-width: 639px){
  #hello{
    position: relative;
    margin-top: 45px;
    margin-left: auto;
    margin-right: auto;
    width: 100px;
    height: 100px;
  }
  #hello.moving{
    width: 290px;
    height: 290px;
  }
}
@media all and (min-width: 640px){
  #hello{
    position: relative;
    margin-top: 45px;
    margin-left: auto;
    margin-right: auto;
    width: 100px;
    height: 100px;
  }
  #hello.moving{
    width: 400px;
    height: 400px;
  }
}
@media all and (min-width: 1024px){
  #hello{
    position: relative;
    margin-top: 45px;
    margin-left: auto;
    margin-right: auto;
    width: 100px;
    height: 100px;
  }
  #hello.moving{
    width: 560px;
    height: 560px;
  }
}
@media all and (min-width: 1200px) {
  #hello {
    position: relative;
    margin-top: 60px;
  }
}

/*round button*/
button{
  cursor: pointer;
  position: absolute;
  top: 40%;
  right: 45%;
  width: 10%;
  height: 21%;
  border: 2px solid peachpuff;
  color: peachpuff;
  border-radius: 50%;
  background-color: transparent;
  font-size: 20px;
  font-weight: bold;
}
@media all and (max-width: 639px) {
  button {
    width: 110px;
    height: 110px;
    top: 90px;
    right: 90px;
  }
}
@media all and (min-width: 640px) {
  button {
    width: 130px;
    height: 130px;
    top: 135px;
    right: 135px;
  }
}
@media all and (min-width: 1024px) {
  button {
    width: 140px;
    height: 140px;
    top: 210px;
    right: 210px;
  }
}

/*'Show'*/
.front{
  position: absolute;
  top: -18%;
  right: 80%;
  width: 20%;
  height: 15%;
  font-size: 50px;
  color: peachpuff;
}
@media all and (max-width: 639px) {
  .front {
   font-size: 40px;
  }
}

/*transition of 'Click'*/
#click{
  visibility: hidden;
  position: absolute;
  top: 78%;
  right: 75%;
  width: 20%;
  height: 15%;
  font-size: 50px;
  color: peachpuff;
  transition: all 0.3s;
  transition-delay: 2.9s;
}
@media all and (max-width: 639px) {
  #click {
    font-size: 40px;
  }
}
#click.clickhere{
  visibility: visible;
}

/*line above*/
.secondLine{
  display: grid;
  position: absolute;
  top: 85%;
  margin-left: 200px;
  background-color: peachpuff;
  cursor: initial;
}
@media all and (max-width: 639px) {
  .secondLine {
    display: grid;
    position: absolute;
    top: 315px;
    margin-left: 30px;
    background-color: peachpuff;
    cursor: initial;
  }
}
@media all and (min-width: 640px) {
  .secondLine {
    position: absolute;
    top: 420px;
    margin-left: 130px;
    background-color: peachpuff;
    cursor: initial;
  }
}
@media all and (min-width: 1024px) {
  .secondLine {
    position: absolute;
    top: 575px;
    margin-left: 260px;

  }
}
#line{
  visibility: hidden;
  width: 100px;
  height: 20px;
  transition: all 1s;
  transition-timing-function: cubic-bezier(0.5,1.5,0.5,1.5);
  transition-delay: 1s;

}
#line.movingL{
  visibility: visible;
  text-align: left;
  width: 600px;
  height: 70px;
}
@media all and (max-width: 639px) {
  #line.movingL {
    text-align: left;
    width: 230px;
    height: 50px;
  }
}
@media all and (min-width: 640px) {
  #line.movingL {
    text-align: left;
    width: 270px;
    height: 50px;
  }
}
@media all and (min-width: 1024px) {
  #line.movingL {
    text-align: left;
    width: 370px;
    height: 70px;
  }
}

/*Front-end developer*/
.FED{
  display: inline-flex;
  color: tomato;
  text-transform: uppercase;
  font-size: 10px;
}
@media all and (min-width: 1024px) {
  .FED {
    font-size: 16px;
  }
}

#inline1{
  visibility: hidden;
  transition: all 0.3s;
  transition-delay: 2s;
}

#inline1.movingIn1{
  visibility: visible;
}

#inline2{
  visibility: hidden;
  transition: all 0.3s;
  transition-delay: 2.3s;
}

#inline2.movingIn2{
  visibility: visible;
}
#inline3{
  visibility: hidden;
  transition: all 0.3s;
  transition-delay: 2.6s;
}

#inline3.movingIn3{
  visibility: visible;
}

#Skillsblock{
  display: grid;
  visibility: hidden;
  grid-template-columns: 1fr 1fr 1fr;
  padding: 4%;
  column-gap: 2%;
  height: 300px;
  transition: all 1.5s;
  transition-delay: 0.3s;
}
@media all and (max-width: 639px) {
  #Skillsblock {
    padding-top: 10%;
    grid-column-gap: 1%;

  }
}

#Skillsblock.mySkills{
  visibility: visible;
}

#SkillsList{
  background-color: tomato;
  border: 3px solid peachpuff;
  text-align: center;
  color: peachpuff;
  font-size: 20px;
  font-weight: bold;
}
@media all and (max-width: 639px) {
  #SkillsList {
    font-size: 16px;
  }
}
#SkillsList:hover{
  background-color: peachpuff;
  color: tomato;
}
